.App {
    font-family: sans-serif;
    text-align: center;
    margin-left: 5.8vh;
}

.otp {
    height: 7vh;
    font-size: 2rem;
    display: flex;
    margin-right: 1vh;
    margin-left: 1vh;
}

.main1{
    margin-top: 2vh;
    margin-left: -5vh;
    margin-bottom: 3vh;
}

